[submodule "libraries/3rdparty/mbedtls"]
	path = libraries/3rdparty/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "libraries/3rdparty/parson"]
	path = libraries/3rdparty/parson
	url = https://github.com/kgabis/parson.git
[submodule "libraries/3rdparty/c-utility"]
	path = libraries/3rdparty/c-utility
	url = https://github.com/Azure/azure-c-shared-utility.git
	branch = lts_07_2020
[submodule "libraries/3rdparty/fdk-aac"]
	path = libraries/3rdparty/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "libraries/3rdparty/tlsf"]
	path = libraries/3rdparty/tlsf
	url = https://github.com/mattconte/tlsf.git
