build

samples/kvs-esp32/sdkconfig.old
samples/kvs-esp32/components/llhttp/*
!samples/kvs-esp32/components/llhttp/CMakeLists.txt

samples/kvsapp-ingenic-t31/sdk/*
!samples/kvsapp-ingenic-t31/sdk/README.md
samples/kvsapp-ingenic-t31/3rdparty

libraries/amazon/amazon-kinesis-video-streams-webrtc-sdk-c/webrtc

# Ignore IDE related
.idea
.vscode
